<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-push-2 text-center">
			<div class="page-header">
				<h1>Local Weather</h1>
			</div>			
		</div>
	</div>
	<div class="row" *ngIf="weather !== null && weather !== undefined">
		<div class="col-md-8 col-md-push-2 text-center">
			<h2>{{weather.name}} {{weather.sys.country}}</h2>
			<h2 class="temp" (click)="convert()">{{currentTemp}} &deg;<span *ngIf="cel">C</span><span *ngIf="!cel">F</span></h2>
					<h2>{{weather.weather[0].main}}</h2>
					<br />
					<div class="icon" *ngIf="rainy"><i class="fa fa-tint fa-4x" aria-hidden="true"></i></div>
					<div class="icon" *ngIf="sunny"><i class="fa fa-sun-o fa-4x" aria-hidden="true"></i></div>
					<div class="icon" *ngIf="cloudy"><i class="fa fa-cloud fa-4x" aria-hidden="true"></i></div>
					<div class="icon" *ngIf="snowy"><i class="fa fa-snowflake-o fa-4x" aria-hidden="true"></i></div>
					<div class="icon" *ngIf="thunder"><i class="fa fa-bolt fa-4x" aria-hidden="true"></i></div>
					
		</div>
	</div>
</div>